@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&family=JetBrains+Mono:wght@400;600&family=Red+Hat+Display:wght@500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono";
}

@layer base {
    .header {
        position: relative;
        height: 70px;
        border-bottom: 2px solid #f1f1f1;
        display: flex;
    }
    .logo {
        width: 20%;
    }
    .searchbar-notifications-profile {
        display: flex;
        justify-content: space-between;
        min-width: calc(100% - 20%);
    }
    .search-bar {
        background: #f1f5f9;
        width: 300px;
    }
    .searchbar-input {
        border: none;
        outline: none;
        background: transparent;
        width: 280px;
        padding: 8px;
    }
    .notifications-profile {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .menu {
        font-size: 29px !important;
    }
    .p-icon {
        font-size: 22px !important;
        cursor: pointer;
    }
    .lock-icon {
        font-size: 22px !important;
    }
    .main {
        position: relative;
        min-height: calc(100vh - 70px);
    }
    .sidebar {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        width: 270px;
        height: 100%;
        top: 0;
        left: 0;
        border-right: 2px solid #f1f1f1;
    }
    .sidebar-items,
    .sidebar-bottom-items {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .sidebar-items li button,
    .sidebar-bottom-items li button {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .icon {
        display: flex;
        align-items: center;
    }
    .main-content {
        position: absolute;
        width: calc(100% - 270px);
        height: 100%;
        top: 0;
        right: 0;
    }
}

@layer components {
    body {
        @apply w-full
    }
    .header {
        @apply bg-white font-jetbrain p-4
    }
    .logo {
        @apply flex gap-1
    }
    .searchbar-notifications-profile {
        @apply items-center
    }
    .search-bar {
        @apply rounded-md flex content-center items-center
    }
    .main {
        @apply bg-slate-500
    }
    .sidebar {
        @apply bg-white
    }
    .sidebar-items {
        @apply list-none
    }
    .main-content {
        @apply bg-orange-600
    }
}